:root {
	--selected-conversation-background: linear-gradient(hsla(209deg 110% 45% / 90%), hsla(209deg 110% 42% / 90%));
	--selected-conversation-background-inactive: #d2d2d2;
	--black: #000;
}

html {
	overflow: hidden;
}

/* Add OS-specific fonts */
body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol' !important;
	text-rendering: optimizelegibility !important;
	font-feature-settings: 'liga', 'clig', 'kern';
}

/* Bind the toolbar as the window's draggable region */
._36ic._5l-3,
._5742,
._6-xk,
._673w {
	-webkit-app-region: drag;
}

/* Hide footer at login view */
._210n {
	display: none;
}

/* Don't show outline on clickable elements & input fields */
*[role='button'],
*[type='text'],
*[type='password'] {
	outline: none !important;
}

[role='navigation'] a {
	cursor: default !important;
}

/* Remove top Facebook cookie banner */
.fbPageBanner {
	display: none !important;
}

/* Cookies notification: Adjust size for smaller windows */
._9o-g {
	height: 290px !important;
}
._9xo5 {
	padding-top: 12px !important;
}
._59s7._9l2g {
	height: 498px !important;
}

/* Cookies notification: Remove "allow all cookies" button */
._42ft._4jy0._9xo7._4jy3._4jy1.selected._51sy {
	display: none;
}

/* Cookies notification: accept button */
._42ft._4jy0._9xo6._4jy3._4jy1.selected._51sy {
	background-color: #1877f2 !important;
	color: var(--white) !important;
}
