.dark-mode:root {
	--fds-active-icon: #000;
	--fds-attachment-footer-background: #000;
	--fds-black: #000;
	--fds-black-alpha-05: rgba(0 0 0 5%);
	--fds-black-alpha-10: rgba(0 0 0 10%);
	--fds-black-alpha-15: rgba(0 0 0 15%);
	--fds-black-alpha-20: rgba(0 0 0 20%);
	--fds-black-alpha-30: rgba(0 0 0 30%);
	--fds-black-alpha-40: rgba(0 0 0 40%);
	--fds-black-alpha-50: rgba(0 0 0 50%);
	--fds-black-alpha-60: rgba(0 0 0 60%);
	--fds-black-alpha-80: rgba(0 0 0 80%);
	--fds-blue-05: #000;
	--fds-blue-30: #000;
	--fds-blue-40: #000;
	--fds-blue-60: #000;
	--fds-blue-70: #000;
	--fds-blue-80: #000;
	--fds-blue-95: #000;
	--fds-blue-badge: #000;
	--fds-blue-link: #000;
	--fds-button-icon: #000;
	--fds-button-text: #000;
	--fds-comment-background: #000;
	--fds-dark-mode-gray-35: #000;
	--fds-dark-mode-gray-50: #000;
	--fds-dark-mode-gray-70: #000;
	--fds-dark-mode-gray-80: #000;
	--fds-dark-mode-gray-90: #000;
	--fds-dark-mode-gray-100: #000;
	--fds-dark-ui-card-border: #000;
	--fds-dark-ui-cards: #000;
	--fds-dark-ui-disabled-icon: #000;
	--fds-dark-ui-divider: #000;
	--fds-dark-ui-medium-text: #000;
	--fds-dark-ui-nav-bar: #000;
	--fds-dark-ui-primary-icon: #000;
	--fds-dark-ui-primary-text: #000;
	--fds-dark-ui-secondary-icon: #000;
	--fds-dark-ui-secondary-text: #000;
	--fds-dark-ui-tab-bar: #000;
	--fds-dark-ui-wash: #000;
	--fds-data-mango: #000;
	--fds-disabled-icon: #000;
	--fds-disabled-text: #000;
	--fds-divider-on-wash: #000;
	--fds-divider-on-white: #000;
	--fds-fast: 200ms;
	--fds-fb-blue-70: #000;
	--fds-fb-blue-75: #000;
	--fds-gray-00: #000;
	--fds-gray-05: #000;
	--fds-gray-10: #000;
	--fds-gray-20: #000;
	--fds-gray-25: #000;
	--fds-gray-30: #000;
	--fds-gray-45: #000;
	--fds-gray-70: #000;
	--fds-gray-80: #000;
	--fds-gray-90: #000;
	--fds-gray-100: #000;
	--fds-green-30: #000;
	--fds-green-55: #000;
	--fds-green-60: #000;
	--fds-green-70: #000;
	--fds-highlight: #000;
	--fds-highlight-cell-background: #000;
	--fds-list-cell-pressed: #000;
	--fds-mobile-wash: #000;
	--fds-nav-bar-background: #000;
	--fds-negative: #000;
	--fds-notification-badge: #000;
	--fds-placeholder-text: #000;
	--fds-positive: #000;
	--fds-primary-button-pressed: #000;
	--fds-primary-icon: #fff;
	--fds-primary-text: #fff;
	--fds-red-55: #000;
	--fds-secondary-button-pressed: #000;
	--fds-secondary-icon: #000;
	--fds-secondary-text: #000;
	--fds-slow: 400ms;
	--fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
	--fds-spectrum-aluminum: #000;
	--fds-spectrum-aluminum-dark-1: #000;
	--fds-spectrum-aluminum-dark-2: #000;
	--fds-spectrum-aluminum-dark-3: #000;
	--fds-spectrum-aluminum-tint-15: #000;
	--fds-spectrum-aluminum-tint-30: #000;
	--fds-spectrum-aluminum-tint-50: #000;
	--fds-spectrum-aluminum-tint-70: #000;
	--fds-spectrum-aluminum-tint-90: #000;
	--fds-spectrum-blue-gray: #000;
	--fds-spectrum-blue-gray-dark-1: #000;
	--fds-spectrum-blue-gray-dark-2: #000;
	--fds-spectrum-blue-gray-dark-3: #000;
	--fds-spectrum-blue-gray-tint-15: #000;
	--fds-spectrum-blue-gray-tint-30: #000;
	--fds-spectrum-blue-gray-tint-50: #000;
	--fds-spectrum-blue-gray-tint-70: #000;
	--fds-spectrum-blue-gray-tint-90: #000;
	--fds-spectrum-cherry: #000;
	--fds-spectrum-cherry-dark-1: #000;
	--fds-spectrum-cherry-dark-2: #000;
	--fds-spectrum-cherry-dark-3: #000;
	--fds-spectrum-cherry-tint-15: #000;
	--fds-spectrum-cherry-tint-30: #000;
	--fds-spectrum-cherry-tint-50: #000;
	--fds-spectrum-cherry-tint-70: #000;
	--fds-spectrum-cherry-tint-90: #000;
	--fds-spectrum-grape: #000;
	--fds-spectrum-grape-dark-1: #000;
	--fds-spectrum-grape-dark-2: #000;
	--fds-spectrum-grape-dark-3: #000;
	--fds-spectrum-grape-tint-15: #000;
	--fds-spectrum-grape-tint-30: #000;
	--fds-spectrum-grape-tint-50: #000;
	--fds-spectrum-grape-tint-70: #000;
	--fds-spectrum-grape-tint-90: #000;
	--fds-spectrum-lemon: #000;
	--fds-spectrum-lemon-dark-1: #000;
	--fds-spectrum-lemon-dark-2: #000;
	--fds-spectrum-lemon-dark-3: #000;
	--fds-spectrum-lemon-tint-15: #000;
	--fds-spectrum-lemon-tint-30: #000;
	--fds-spectrum-lemon-tint-50: #000;
	--fds-spectrum-lemon-tint-70: #000;
	--fds-spectrum-lemon-tint-90: #000;
	--fds-spectrum-lime: #000;
	--fds-spectrum-lime-dark-1: #000;
	--fds-spectrum-lime-dark-2: #000;
	--fds-spectrum-lime-dark-3: #000;
	--fds-spectrum-lime-tint-15: #000;
	--fds-spectrum-lime-tint-30: #000;
	--fds-spectrum-lime-tint-50: #000;
	--fds-spectrum-lime-tint-70: #000;
	--fds-spectrum-lime-tint-90: #000;
	--fds-spectrum-orange: #000;
	--fds-spectrum-orange-dark-1: #000;
	--fds-spectrum-orange-dark-2: #000;
	--fds-spectrum-orange-dark-3: #000;
	--fds-spectrum-orange-tint-15: #000;
	--fds-spectrum-orange-tint-30: #000;
	--fds-spectrum-orange-tint-50: #000;
	--fds-spectrum-orange-tint-70: #000;
	--fds-spectrum-orange-tint-90: #000;
	--fds-spectrum-pink: #000;
	--fds-spectrum-pink-dark-1: #000;
	--fds-spectrum-pink-dark-2: #000;
	--fds-spectrum-pink-dark-3: #000;
	--fds-spectrum-pink-tint-15: #000;
	--fds-spectrum-pink-tint-30: #000;
	--fds-spectrum-pink-tint-50: #000;
	--fds-spectrum-pink-tint-70: #000;
	--fds-spectrum-pink-tint-90: #000;
	--fds-spectrum-seafoam: #000;
	--fds-spectrum-seafoam-dark-1: #000;
	--fds-spectrum-seafoam-dark-2: #000;
	--fds-spectrum-seafoam-dark-3: #000;
	--fds-spectrum-seafoam-tint-15: #000;
	--fds-spectrum-seafoam-tint-30: #000;
	--fds-spectrum-seafoam-tint-50: #000;
	--fds-spectrum-seafoam-tint-70: #000;
	--fds-spectrum-seafoam-tint-90: #000;
	--fds-spectrum-skin-1: #000;
	--fds-spectrum-skin-1-dark-1: #000;
	--fds-spectrum-skin-1-dark-2: #000;
	--fds-spectrum-skin-1-dark-3: #000;
	--fds-spectrum-skin-1-tint-15: #000;
	--fds-spectrum-skin-1-tint-30: #000;
	--fds-spectrum-skin-1-tint-50: #000;
	--fds-spectrum-skin-1-tint-70: #000;
	--fds-spectrum-skin-1-tint-90: #000;
	--fds-spectrum-skin-2: #000;
	--fds-spectrum-skin-2-dark-1: #000;
	--fds-spectrum-skin-2-dark-2: #000;
	--fds-spectrum-skin-2-dark-3: #000;
	--fds-spectrum-skin-2-tint-15: #000;
	--fds-spectrum-skin-2-tint-30: #000;
	--fds-spectrum-skin-2-tint-50: #000;
	--fds-spectrum-skin-2-tint-70: #000;
	--fds-spectrum-skin-2-tint-90: #000;
	--fds-spectrum-skin-3: #000;
	--fds-spectrum-skin-3-dark-1: #000;
	--fds-spectrum-skin-3-dark-2: #000;
	--fds-spectrum-skin-3-dark-3: #000;
	--fds-spectrum-skin-3-tint-15: #000;
	--fds-spectrum-skin-3-tint-30: #000;
	--fds-spectrum-skin-3-tint-50: #000;
	--fds-spectrum-skin-3-tint-70: #000;
	--fds-spectrum-skin-3-tint-90: #000;
	--fds-spectrum-skin-4: #000;
	--fds-spectrum-skin-4-dark-1: #000;
	--fds-spectrum-skin-4-dark-2: #000;
	--fds-spectrum-skin-4-dark-3: #000;
	--fds-spectrum-skin-4-tint-15: #000;
	--fds-spectrum-skin-4-tint-30: #000;
	--fds-spectrum-skin-4-tint-50: #000;
	--fds-spectrum-skin-4-tint-70: #000;
	--fds-spectrum-skin-4-tint-90: #000;
	--fds-spectrum-skin-5: #000;
	--fds-spectrum-skin-5-dark-1: #000;
	--fds-spectrum-skin-5-dark-2: #000;
	--fds-spectrum-skin-5-dark-3: #000;
	--fds-spectrum-skin-5-tint-15: #000;
	--fds-spectrum-skin-5-tint-30: #000;
	--fds-spectrum-skin-5-tint-50: #000;
	--fds-spectrum-skin-5-tint-70: #000;
	--fds-spectrum-skin-5-tint-90: #000;
	--fds-spectrum-slate: #000;
	--fds-spectrum-slate-dark-1: #000;
	--fds-spectrum-slate-dark-2: #000;
	--fds-spectrum-slate-dark-3: #000;
	--fds-spectrum-slate-tint-15: #000;
	--fds-spectrum-slate-tint-30: #000;
	--fds-spectrum-slate-tint-50: #000;
	--fds-spectrum-slate-tint-70: #000;
	--fds-spectrum-slate-tint-90: #000;
	--fds-spectrum-teal: #000;
	--fds-spectrum-teal-dark-1: #000;
	--fds-spectrum-teal-dark-2: #000;
	--fds-spectrum-teal-dark-3: #000;
	--fds-spectrum-teal-tint-15: #000;
	--fds-spectrum-teal-tint-30: #000;
	--fds-spectrum-teal-tint-50: #000;
	--fds-spectrum-teal-tint-70: #000;
	--fds-spectrum-teal-tint-90: #000;
	--fds-spectrum-tomato: #000;
	--fds-spectrum-tomato-dark-1: #000;
	--fds-spectrum-tomato-dark-2: #000;
	--fds-spectrum-tomato-dark-3: #000;
	--fds-spectrum-tomato-tint-15: #000;
	--fds-spectrum-tomato-tint-30: #000;
	--fds-spectrum-tomato-tint-50: #000;
	--fds-spectrum-tomato-tint-70: #000;
	--fds-spectrum-tomato-tint-90: #000;
	--fds-strong: cubic-bezier(0.12, 0.8, 0.32, 1);
	--fds-tertiary-icon: #000;
	--fds-white: #000;
	--fds-white-alpha-05: rgba(255 255 255 5%);
	--fds-white-alpha-10: rgba(255 255 255 10%);
	--fds-white-alpha-15: rgba(255 255 255 15%);
	--fds-white-alpha-20: rgba(255 255 255 20%);
	--fds-white-alpha-30: rgba(255 255 255 30%);
	--fds-white-alpha-40: rgba(255 255 255 40%);
	--fds-white-alpha-50: rgba(255 255 255 50%);
	--fds-white-alpha-60: rgba(255 255 255 60%);
	--fds-white-alpha-80: rgba(255 255 255 80%);
	--fds-white-text: #000;
	--fds-www-wash: #000;
	--fds-yellow-20: #000;
	--header-height: 56px;
	--fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
	--fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
	--fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
	--fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
	--fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
	--fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
	--fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
	--fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
	--fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
	--fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
	--fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
	--fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
	--fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
	--fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
	--fds-duration-extra-extra-short-in: 100ms;
	--fds-duration-extra-extra-short-out: 100ms;
	--fds-duration-extra-short-in: 200ms;
	--fds-duration-extra-short-out: 150ms;
	--fds-duration-short-in: 280ms;
	--fds-duration-short-out: 200ms;
	--fds-duration-medium-in: 400ms;
	--fds-duration-medium-out: 350ms;
	--fds-duration-long-in: 500ms;
	--fds-duration-long-out: 350ms;
	--fds-duration-extra-long-in: 1000ms;
	--fds-duration-extra-long-out: 1000ms;
	--fds-duration-none: 0ms;
	--accent: hsl(214deg 100% 59%);
	--always-white: #fff;
	--always-black: #000;
	--always-dark-gradient: linear-gradient(rgba(0 0 0 0%), rgba(0 0 0 60%));
	--always-dark-overlay: rgba(0 0 0 40%);
	--always-light-overlay: rgba(255 255 255 40%);
	--always-gray-40: #65676b;
	--always-gray-75: #bcc0c4;
	--always-gray-95: #f0f2f5;
	--attachment-footer-background: rgba(255 255 255 10%);
	--base-blue: #1877f2;
	--base-cherry: #f3425f;
	--base-grape: #9360f7;
	--base-lemon: #f7b928;
	--base-lime: #45bd62;
	--base-pink: #ff66bf;
	--base-seafoam: #54c7ec;
	--base-teal: #2abba7;
	--base-tomato: #fb724b;
	--blue-link: #4599ff;
	--card-background: #242526;
	--card-background-flat: #323436;
	--comment-background: #3a3b3c;
	--comment-footer-background: #4e4f50;
	--dataviz-primary-1: rgb(48 200 180);
	--disabled-button-background: rgba(255 255 255 20%);
	--disabled-icon: rgba(255 255 255 30%);
	--disabled-text: rgba(255 255 255 30%);
	--divider: #3e4042;
	--event-date: #f3425f;
	--filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
	--filter-always-white: invert(100%);
	--filter-disabled-icon: invert(100%) opacity(30%);
	--filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
	--filter-primary-icon: invert(100%);
	--filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
	--filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
	--filter-blue-link-icon: invert(73%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(103.25%) hue-rotate(189deg) brightness(101%) contrast(101%);
	--filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
	--filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
	--font-family-apple: system-ui, -apple-system, blinkmacsystemfont, '.SFNSText-Regular', sans-serif;
	--font-family-default: helvetica, arial, sans-serif;
	--font-family-segoe: segoe ui historic, segoe ui, helvetica, arial, sans-serif;
	--glimmer-spinner-icon: #fff;
	--hero-banner-background: #e85d07;
	--hosted-view-selected-state: rgba(45 136 255 10%);
	--highlight-bg: rgba(24 119 242 31%);
	--hover-overlay: rgba(255 255 255 10%);
	--media-hover: rgba(68 73 80 15%);
	--media-inner-border: rgba(255 255 255 5%);
	--media-outer-border: #33363a;
	--media-pressed: rgba(68 73 80 35%);
	--messenger-card-background: #242526;
	--messenger-reply-background: #18191a;
	--overlay-alpha-80: rgba(11 11 11 80%);
	--overlay-on-media: rgba(0 0 0 60%);
	--nav-bar-background: #242526;
	--nav-bar-background-gradient: linear-gradient(to top, #242526, rgba(36 37 38 90%), rgba(36 37 38 70%), rgba(36 37 38 40%), rgba(36 37 38 0%));
	--nav-bar-background-gradient-wash: linear-gradient(to top, #18191a, rgba(24 25 26 90%), rgba(24 25 26 70%), rgba(24 25 26 40%), rgba(24 25 26 0%));
	--negative: hsl(350deg 87% 55%);
	--negative-background: hsl(350deg 87% 55% 20%);
	--new-notification-background: #e7f3ff;
	--non-media-pressed: rgba(68 73 80 15%);
	--non-media-pressed-on-dark: rgba(255 255 255 30%);
	--notification-badge: #f02849;
	--placeholder-icon: #8a8d91;
	--placeholder-text: #8a8d91;
	--placeholder-text-on-media: rgba(255 255 255 50%);
	--popover-background: #3e4042;
	--positive: #31a24c;
	--positive-background: #1f3520;
	--press-overlay: rgba(255 255 255 10%);
	--primary-button-background: #2d88ff;
	--primary-button-background-experiment: #2374e1;
	--primary-button-pressed: #77a7ff;
	--primary-button-text: #fff;
	--primary-deemphasized-button-background: rgba(45 136 255 20%);
	--primary-deemphasized-button-pressed: rgba(24 119 242 20%);
	--primary-deemphasized-button-pressed-overlay: rgba(25 110 255 15%);
	--primary-deemphasized-button-text: #2d88ff;
	--primary-icon: #e4e6eb;
	--primary-text: #e4e6eb;
	--primary-text-on-media: #fff;
	--progress-ring-neutral-background: rgba(255 255 255 20%);
	--progress-ring-neutral-foreground: #fff;
	--progress-ring-on-media-background: rgba(255 255 255 20%);
	--progress-ring-on-media-foreground: #fff;
	--progress-ring-blue-background: rgba(45 136 255 20%);
	--progress-ring-blue-foreground: hsl(214deg 100% 59%);
	--progress-ring-disabled-background: rgba(122 125 130 20%);
	--progress-ring-disabled-foreground: #7a7d82;
	--scroll-thumb: rgba(0 0 0 30%);
	--secondary-button-background: rgba(255 255 255 10%);
	--secondary-button-background-floating: #4b4c4f;
	--secondary-button-background-on-dark: rgba(255 255 255 40%);
	--secondary-button-pressed: rgba(0 0 0 5%);
	--secondary-button-text: #e4e6eb;
	--secondary-icon: #b0b3b8;
	--secondary-text: #b0b3b8;
	--secondary-text-on-media: rgba(255 255 255 90%);
	--section-header-text: #bcc0c4;
	--shadow-1: rgba(0 0 0 10%);
	--shadow-2: rgba(0 0 0 20%);
	--shadow-5: rgba(0 0 0 50%);
	--shadow-8: rgba(0 0 0 80%);
	--shadow-inset: rgba(255 255 255 5%);
	--surface-background: #242526;
	--text-highlight: rgba(24 119 242 45%);
	--toggle-active-background: rgb(45 136 255);
	--toggle-active-icon: #fff;
	--toggle-active-text: #fff;
	--toggle-button-active-background: #e6f2ff;
	--wash: #3e4042;
	--web-wash: #18191a;
	--warning: hsl(40deg 89% 52%);
	--dataviz-primary-2: rgb(134 218 255);
	--dataviz-primary-3: rgb(95 170 255);
	--dataviz-secondary-1: rgb(129 77 231);
	--dataviz-secondary-2: rgb(168 124 255);
	--dataviz-secondary-3: rgb(219 26 139);
	--dataviz-supplementary-1: rgb(255 122 105);
	--dataviz-supplementary-2: rgb(241 168 23);
	--dataviz-supplementary-3: rgb(49 162 76);
	--dataviz-supplementary-4: rgb(228 230 235);
}
:root::-webkit-scrollbar {
	display: none;
	height: 0;
	width: 0;
}
.buofh1pr.j83agx80.eg9m0zos.ni8dbmo4.cbu4d94t.gok29vw1::-webkit-scrollbar {
	display: block;
	background-color: var(--nav-bar-background-gradient-wash);
}
.buofh1pr.j83agx80.eg9m0zos.ni8dbmo4.cbu4d94t.gok29vw1::-webkit-scrollbar-track {
	background-color: var(--divider);
}
.buofh1pr.j83agx80.eg9m0zos.ni8dbmo4.cbu4d94t.gok29vw1::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb);
	border-radius: 16.5px;
}
.dark-mode svg.a8c37x1j {
	fill: var(--primary-icon);
}
.dark-mode .crt8y2ji.ppxo33br {
	fill: var(--primary-icon);
	fill-opacity: 20%;
}

