:root {
	--base: #000;
	--base-ninety: rgb(255 255 255 / 90%);
	--base-seventy-five: rgb(255 255 255 / 75%);
	--base-seventy: rgb(255 255 255 / 70%);
	--base-fifty: rgb(255 255 255 / 50%);
	--base-fourty: rgb(255 255 255 / 40%);
	--base-thirty: rgb(255 255 255 / 30%);
	--base-twenty: rgb(255 255 255 / 20%);
	--base-ten: rgb(255 255 255 / 10%);
	--base-nine: rgb(255 255 255 / 9%);
	--base-five: rgb(255 255 255 / 5%);
	--container-color: #323232;
	--container-dark-color: #1e1e1e;
	--list-header-color: #222;
	--blue: #0084ff;
	--white: #fff;
}

html.dark-mode body {
	color: var(--base-seventy);
	background: var(--container-color) !important;
}

/* Fixes appearance of "Verify Account" screen text */
html.dark-mode ._3-mr ._3-mt,
html.dark-mode ._3-mr ._3-mu {
	color: #fff;
}

html.dark-mode ._3v_o, /* Login screen */
html.dark-mode body.UIPage_LoggedOut ._li, /* 2FA screen */
html.dark-mode body.UIPage_LoggedOut ._4-u5 /* 2FA screen */ {
	background-color: var(--container-dark-color);
}

/* Login title and names */
html.dark-mode ._5hy4,
html.dark-mode ._3403 {
	color: var(--base-fourty) !important;
}

/* Login inputs */
html.dark-mode ._3v_o ._55r1 {
	background: var(--base-five);
	color: var(--base-seventy);
}
html.dark-mode ._3v_o ._55r1::-webkit-input-placeholder {
	color: var(--base-thirty) !important;
}

/* "Keep me signed in" checkbox */
html.dark-mode .uiInputLabelInput {
	filter: opacity(70%);
}

/* "Keep me signed in" text */
html.dark-mode .uiInputLabelLabel {
	color: var(--base-fourty) !important;
}

/* 2FA screen modal */
html.dark-mode body.UIPage_LoggedOut ._4-u8 {
	background: var(--container-color);
	border-color: var(--base-five) !important;
}

/* 2FA screen modal title */
html.dark-mode body.UIPage_LoggedOut ._2e9n {
	border-color: var(--base-five);
	color: #fff;
}

/* 2FA screen modal separator */
html.dark-mode body.UIPage_LoggedOut ._p0k ._5hzs {
	border-color: var(--base-five);
}

/* 2FA screen modal separators */
html.dark-mode body.UIPage_LoggedOut a {
	color: var(--blue);
}

/* 2FA screen modal input */
html.dark-mode body.UIPage_LoggedOut input {
	background: var(--base-ten);
	border-color: var(--base-ten);
	color: var(--base-ninety);
}

/* Cookies notification: background */
html.dark-mode ._9o-w ._9o-c {
	background: var(--container-color) !important;
}
/* Cookies notification: text */
html.dark-mode ._9o-g {
	color: var(--base-seventy) !important;
}
/* Cookies notification: collpasible headers */
html.dark-mode ._9o-l {
	color: var(--base-seventy) !important;
}
/* Cookies notification: subheaders */
html.dark-mode ._9si- {
	color: var(--base-seventy) !important;
}
/* Cookies notification: hamburger menu */
html.dark-mode ._42ft._4jy0._55pi._2agf._4o_4._9o-e._p._4jy3._517h._51sy {
	background: var(--container-color) !important;
}
/* Cookies notification: hamburger menu background */
html.dark-mode ._54ng {
	background: var(--container-color) !important;
}
/* Cookies notification: hamburger menu text */
html.dark-mode ._54nh {
	color: var(--base-seventy) !important;
}
/* Cookies notification: hamburger menu column borders */
html.dark-mode ._54nc {
	border-color: var(--container-color) !important;
}
/* Cookies notification: icons */
html.dark-mode .img.sp_ng1YXMZLXub {
	filter: invert(0.66);
}
/* Cookies notification: rectangular boxes */
html.dark-mode .pam._9o-n.uiBoxGray {
	background-color: var(--base-ten) !important;
}
html.dark-mode ._9xq0 {
	color: var(--base-seventy) !important;
}

/* Top bar: App menu button color */
/* Top bar: New message button color */
.j83agx80.pfnyh3mw .ozuftl9m .a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4 {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Icons made with SVG (create a room, preferences options, etc.) */
.b6ax4al1.m4pnbp5e.somyomsx.ahndzqod.g4fisb7v > path {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Chat list: Mute icon */
.bp9cbjyn.j83agx80.btwxx1t3 .dlv3wnog.lupvgy83 .a8c37x1j {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Right sidebar: Icon color */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.f4tghd1a.ifue306u.kuivcneq.t63ysoy8 [role='button'] svg {
	fill: currentcolor;
	color: var(--primary-text);
}
/* Right sidebar: Path of icon */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.f4tghd1a.ifue306u.kuivcneq.t63ysoy8 [role='button'] svg path {
	fill: currentcolor;
	color: var(--primary-text);
}
/* Right sidebar: search icon */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.f4tghd1a.ifue306u.kuivcneq.t63ysoy8 [role='button'] svg[role='presentation'] path {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Contact list: delivered icon color */
.aahdfvyu [role='grid'] .a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4 {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Removing top gap */
/* TODO: Remove when fixed by fb */
.__fb-dark-mode {
	--header-height: 0px !important;
}

/* Message list: fix for received messages text color in dark mode */
/* TODO: Remove when fixed by fb */
.__fb-dark-mode .__fb-light-mode {
	--primary-text: #e4e6eb;
}

/* Radio buttons */
.bdao358l.om3e55n1.g4tp4svg {
	--accent: var(--primary-text);
}

/* Backgrounds of various buttons ("Visit Group", audio call, etc.) */
/* TODO: Remove when fixed by fb, since -floating should not be here */
/* Audio / video call */
.qmqpeqxj.e7u6y3za.qwcclf47.nmlomj2f.i85zmo3j.frfouenu.bonavkto.djs4p424.r7bn319e.bdao358l.fxk3tzhb.jcxyg2ei.om3e55n1.a5wdgl2o.jvc6uz2b.g90fjkqk,
.om3e55n1.g4tp4svg.alzwoclg.jez8cy9q.jcxyg2ei.i85zmo3j.sr926ui1.jl2a5g8c.k7n6ui8p.b41d885q.hmqrhxox.got7tec9.frfouenu.bonavkto.djs4p424.r7bn319e.bdao358l.aesu6q9g.e4ay1f3w.a5wdgl2o.ed17d2qt {
	background-color: var(--secondary-button-background-floating) !important;
}

/* Search results: Close button */
/* TODO: Remove when fixed by fb, since --always-white is not good here */
.q2y6ezfg {
	background-color: var(--secondary-button-background) !important;
}
