/* -- BLOCK START: sidebar-only vibrancy -- */

html.sidebar-vibrancy body,
html.sidebar-vibrancy ._4sp8,
html.sidebar-vibrancy.dark-mode body,
html.sidebar-vibrancy.dark-mode ._4sp8 {
	background: transparent !important;
}

/* Login screen */
html.sidebar-vibrancy ._3v_o {
	background-color: #fff;
}

/* Message placeholder text color */
html.sidebar-vibrancy ._kmc ._1p1t {
	color: #999 !important;
	-webkit-text-fill-color: #999 !important;
}

/* Contact list: header above */
html.sidebar-vibrancy.dark-mode ._36ic {
	background: transparent !important;
}

/* Contact list: search input */
html.sidebar-vibrancy ._5iwm ._58al {
	background-color: rgba(246, 247, 249, 0.5) !important;
}
html.sidebar-vibrancy.dark-mode ._5iwm ._58al {
	background: var(--base-five) !important;
}

/* Chat title bar */
html.sidebar-vibrancy ._673w {
	background-color: #fff !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
html.sidebar-vibrancy.dark-mode ._673w {
	background-color: var(--container-dark-color) !important;
	border-bottom: 1px solid var(--base-five) !important;
}

/* Share previews: title and subtitle */
html.sidebar-vibrancy .__6k,
html.sidebar-vibrancy .__6l {
	background-color: transparent !important;
}

/* Contact list: person container */
html.sidebar-vibrancy ._1qt4 {
	border-top: solid 1px rgba(0, 0, 0, 0.06);
}

/* Message container + right sidebar */
html.sidebar-vibrancy ._4_j4,
html.sidebar-vibrancy ._4_j5 {
	background: #fff !important;
}
html.sidebar-vibrancy.dark-mode ._4_j4,
html.sidebar-vibrancy.dark-mode ._4_j5 {
	background: var(--container-dark-color) !important;
}

/* Message list: header above */
html.sidebar-vibrancy.dark-mode ._5742 {
	background: transparent !important;
}

/* New conversation name input field */
html.sidebar-vibrancy ._2y8y {
	background: #fff !important;
}
html.sidebar-vibrancy.dark-mode ._2y8y {
	background: var(--container-dark-color) !important;
}

/* -- BLOCK END: sidebar-only vibrancy -- */

/* -- BLOCK START: full-window vibrancy -- */

html.full-vibrancy body,
html.full-vibrancy ._4sp8 {
	background: transparent !important;
}

/* Login screen */
html.full-vibrancy ._3v_o {
	background-color: transparent !important;
}

/* Login button */
html.full-vibrancy ._5hy2 ._43dh {
	background-color: transparent !important;
}

/* Message placeholder text color */
html.full-vibrancy ._kmc ._1p1t {
	color: #999 !important;
	-webkit-text-fill-color: #999 !important;
}

/* Messages list: start conversation with a chat bot */
html.full-vibrancy ._2xh0 ._3zc8 {
	background-color: transparent;
}

/* Messages list: start conversation with a chat bot buttons */
html.full-vibrancy ._2xh0 ._2xh4 {
	background-color: transparent;
}

/* Contact list: search input */
html.full-vibrancy ._5iwm ._58al {
	background-color: rgba(246, 247, 249, 0.5) !important;
}
html.full-vibrancy.dark-mode ._5iwm ._58al {
	background: var(--base-five) !important;
}

/* Chat title bar */
html.full-vibrancy ._673w,
html.full-vibrancy.dark-mode ._673w {
	background-color: transparent !important;
}

/* Share previews: title and subtitle */
html.full-vibrancy .__6k,
html.full-vibrancy .__6l {
	background-color: transparent !important;
}

/* Contact list: person container */
html.full-vibrancy ._1qt4 {
	border-top: solid 1px rgba(0, 0, 0, 0.06);
}

/* Main content */
html.full-vibrancy.dark-mode ._1q5- {
	background: transparent !important;
}

/* Message list: header above */
html.full-vibrancy.dark-mode ._5742 {
	background: transparent !important;
}

/* Contact list: header above */
html.full-vibrancy.dark-mode ._36ic {
	background: transparent !important;
}

/* Message container + right sidebar */
html.full-vibrancy ._4_j4,
html.full-vibrancy ._4_j5,
html.full-vibrancy.dark-mode ._4_j4,
html.full-vibrancy.dark-mode ._4_j5 {
	background: transparent !important;
}

/* New conversation name input field */
html.full-vibrancy ._2y8y,
html.full-vibrancy.dark-mode ._2y8y {
	background: transparent !important;
}

/* Message composer buttons */
html.full-vibrancy ._39bj {
	filter: brightness(0.8);
}
html.full-vibrancy.dark-model ._39bj {
	filter: brightness(1);
}

/* Deleted message */
html.full-vibrancy ._7301._hh7 {
	background-color: #fff;
	border-color: transparent !important;
}
html.full-vibrancy.dark-mode ._7301._hh7 {
	background-color: var(--container-color);
}

/* Message list: link preview */
html.full-vibrancy ._5i_d {
	background-color: #fff;
	border-color: transparent !important;
}
html.full-vibrancy.dark-mode ._5i_d {
	background-color: var(--container-color);
}

/* Message composer: attached files */
html.full-vibrancy ._2zl5 {
	background-color: #fff;
	border-color: transparent;
}
html.full-vibrancy.dark-mode ._2zl5 {
	background-color: var(--container-color);
}

/* -- BLOCK END: full-window vibrancy -- */
