html {
	overflow: hidden;
}

/* Add OS specific fonts */
body {
	font-family: -apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen-Sans,
			Ubuntu,
			Cantarell,
			'Helvetica Neue',
			sans-serif,
			'Apple Color Emoji',
			'Segoe UI Emoji',
			'Segoe UI Symbol' !important;
	text-rendering: optimizeLegibility !important;
	font-feature-settings: 'liga', 'clig', 'kern';
}

/* Bind the toolbar as the window's draggable region */
._36ic._5l-3,
._5742 {
	-webkit-app-region: drag;
}
/* Exclude `New Messages`, `Voice Call`, `Video Call` & `Conversation Info` buttons from the draggable region */
._36ic._5l-3 ._30yy,
._5742 ._30yy {
	-webkit-app-region: no-drag;
	-webkit-user-drag: none;
}

/* Window wrapper */
._4sp8 {
	min-width: 0;
}

/* Hide footer at login view */
._210n {
	display: none;
}

/* First time user popup */
._s15 {
	display: none;
}

/* "Keep the conversation going" bar */
._s15 {
	display: none !important;
}

/* Right-column */
._1q5- {
	border-left: 1px solid rgba(0, 0, 0, .10) !important;
}

/* Hide settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
	display: none !important;
}

/* Hide settings icon */
._30yy._2fug._p {
	display: none !important;
}

/* Hide title */
._1tqi {
	display: none;
}

/* Narrower titlebar */
._36ic,
._5742 {
	height: 40px !important;
	padding: 4px !important;
}
._fl2 {
	padding: 3px 8px !important;
}
/* Adjust `To` field for narrower titlebar */
._2y8y {
	min-height: 40px !important;
	padding: 8px !important;
}

/* `New messages` popup */
._2xhi._5vn4 ._2xhj {
	display: none;
}

/* Move the contextual back button so it's not obstructed by the native traffic lights */
._30yy._2oc9 {
	margin-left: 65px !important;
}

@media all and (max-width: 700px) {
	/* Make right-column flexible in compact mode */
	._1q5- {
		position: absolute !important;
		right: 0 !important;
		left: 74px !important;
		height: 100% !important;
	}

	/* Fix for left space in compact mode */
	._1q5-.sidebar-hidden {
		left: 0px !important;
	}

	/* `New Conversation` icon */
	._30yy[href='/new'] {
		display: none !important;
	}
}

/* Don't show outline on clickable elements except in the delete/mute modal so that we know what we are selecting */
a,
*[role='button'] {
	outline: none !important;
}

/* Remove white background in Preferences */
._1u5d {
	background-color: transparent !important;
}

/* Fix incorrect border radius in Preferences */
._4eby {
	border-radius: 2px !important;
}

/* Contact list: person (selected) */
._1ht1._1ht2 {
	background-color: rgba(0, 132, 255, 0.3) !important;
}
/* Contact list: latest message, under contact name */
._1ht1 ._1htf {
	color: rgba(0, 0, 0, 0.7);
}

/* Allow scrolling of "Edit Nicknames" dialog */
._4h9n ._4h9o {
	max-height: 100% !important;
	height: 280px;
}
