html {
	overflow: hidden;
}

/* bind the toolbar as the window's draggable region */
._36ic._5l-3,
._5742 {
	-webkit-app-region: drag;
}

/* fix broken scroll arrows on input on Windows */

._kmc {
	overflow-y: initial;
}

/* window wrapper */
._4sp8 {
	min-width: 0;
}

/* hide footer at login view */
._210n {
	display: none;
}

/* first time user popup */
._s15 {
	display: none;
}

/* "Keep the conversation going" bar */
._s15 {
	display: none !important;
}

/* right-column */
._1q5- {
	border-left: 1px solid rgba(0, 0, 0, .10) !important;
}

/* hide settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
	display: none !important;
}

/* hide settings icon */
._30yy._2fug._p {
	display: none !important;
}

/* hide title */
._1tqi {
	display: none;
}

/* narrower titlebar */
._36ic,
._5742 {
	height: 40px !important;
	padding: 4px !important;
}
._fl2 {
	padding: 3px 8px !important;
}
/* adjust `To` field for narrower titlebar */
._2y8y {
	min-height: 40px !important;
	padding: 8px !important;
}

/* `New messages` popup */
._2xhi._5vn4 ._2xhj {
	display: none;
}

/* move the contextual back button so it's not obstructed by the native traffic lights */
._30yy._2oc9 {
	margin-left: 65px !important;
}

@media all and (max-width: 700px) {
	/* make right-column flexible in compact mode */
	._1q5- {
		position: absolute !important;
		right: 0 !important;
		left: 74px !important;
		height: 100% !important;
	}

	/* `New Conversation` icon */
	._30yy[href='/new'] {
		display: none !important;
	}
}

/* don't show outline on clickable elements
 * except in the delete/mute modal so that we know what we are selecting */
a,
*[role="button"] {
	outline: none !important;
}
