html {
	overflow: hidden;
}

/* window wrapper */
._4sp8 {
	min-width: 0;
}

/* hide footer at login view */
._210n {
	display: none;
}

/* first time user popup */
._s15 {
	display: none;
}

/* right-column */
._1q5- {
	border-left: 1px solid rgba(0, 0, 0, .10) !important;
}

/* hide settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
	display: none !important;
}

/* hide settings icon */
._30yy._2fug._p {
	display: none !important;
}

/* hide title */
._1tqi {
	display: none;
}

/* narrower titlebar */
._36ic,
._5742 {
	height: 40px !important;
	padding: 4px !important;
}
._fl2 {
	padding: 3px 8px !important;
}
/* adjust `To` field for narrower titlebar */
._2y8y {
	min-height: 40px !important;
	padding: 8px !important;
}

/* `New messages` popup */
._2xhi._5vn4 ._2xhj {
	display: none;
}

/* move the contextual back button so it's not obstructed by the native traffic lights */
._30yy._2oc9 {
	margin-left: 65px !important;
}

@media all and (max-width: 640px) {
	/* make right-column flexible in compact mode */
	._1q5- {
		position: absolute !important;
		right: 0 !important;
		left: 74px !important;
		height: 100% !important;
	}

	/* `New Conversation` icon */
	._30yy[href='/new'] {
		display: none !important;
	}
}

/* never show outline on clickable elements */
a, button, *[role="button"] {
	outline: none !important;
}


/*
DARK MODE
*/

html.darkMode body {
	color: rgba(255, 255, 255, 0.7);
	background: #192633 !important;
}

/* main container? */
html.darkMode ._4sp8 {
	background: #192633 !important;
}

/* main content */
html.darkMode ._1q5- {
	background: #192633 !important;
	border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
}

/* message list: your message bubble */
html.darkMode ._o46:not(._nd_) ._hh7 {
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.7);
}

/* message list: link in your message bubble */
html.darkMode ._o46:not(._nd_) ._hh7 a {
	color: rgba(255, 255, 255, 0.7);
}

/* message list: link in message bubble */
html.darkMode ._hh7 a:hover {
	background: transparent !important;
}

/* message list: link in incoming message bubble */
html.darkMode ._o46._nd_ ._hh7 {
	color: rgba(255, 255, 255, 0.9);
}

/* message list: link preview */
html.darkMode ._5i_d {
	border: solid 1px rgba(255, 255, 255, 0.05);
}

/* message list: link preview text */
html.darkMode ._5i_d .__6k,
html.darkMode ._5i_d .__6l {
	color: rgba(255, 255, 255, 0.7);
}

html.darkMode ._5i_d .__6m {
	color: rgba(255, 255, 255, 0.4);
}

/* message list: input bar */
html.darkMode ._4rv3 {
	background: transparent !important;
	border-top: solid 1px rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.7);
}

/* message list: timestamp */
html.darkMode ._497p {
	color: rgba(255, 255, 255, 0.4);
}

/* message list: header above */
html.darkMode ._5742 {
	background: #202C3A !important;
	border-bottom: none;
}
/* message list: header above (invitation) */
html.darkMode ._2y8z,
html.darkMode ._14-7 ._58ah ._58al::-webkit-input-placeholder,
html.darkMode ._58-3 {
	color: rgba(255, 255, 255, 0.4);
}

/* message list: header above (invitation) (typed text) */
html.darkMode ._14-7 ._58ah ._58al {
	color: rgba(255, 255, 255, 0.7);
}

/* messages list: user info (is in contacts) */
html.darkMode ._36zg-e {
	color: rgba(255, 255, 255, 0.7) !important;
}

/* messages list: user info */
html.darkMode ._1n-e {
	color: rgba(255, 255, 255, 0.4);
}

/* messages list: text header above the messages */
html.darkMode ._17w2,
html.darkMode ._ih3 ._3oh-,
html.darkMode ._llq ._3oh- {
	color: rgba(255, 255, 255, 0.7);
}

html.darkMode ._2v6o {
	color: rgba(255, 255, 255, 0.4);
}

/* contact list: header above */
html.darkMode ._36ic {
	background: #202C3A !important;
	border-bottom: none;
}

/* contact list: search input */
html.darkMode ._5iwm ._58al {
	background: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.5);
}

html.darkMode ._5iwm ._58al::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

/* contact list: background */
html.darkMode ._1enh {
	background: transparent !important;
}

/* contact list: person */
html.darkMode ._1ht1 {
	background: transparent !important;
}

/* contact list: person (selected) */
html.darkMode ._1ht1._1ht2 {
	background: rgba(255, 255, 255, 0.03) !important;
}

/* contact list: person container */
html.darkMode ._1qt4 {
	border-top: solid 1px rgba(255, 255, 255, 0.05);
}

/* contact list: person name */
html.darkMode ._1ht6 {
	color: rgba(255, 255, 255, 0.7);
}

/* contact list: message blurb */
html.darkMode ._1htf {
	color: rgba(255, 255, 255, 0.4);
}

/* contact list: timestamp */
html.darkMode ._1ht7 {
	color: rgba(255, 255, 255, 0.2);
}

/* contact list: search results */
html.darkMode ._5t4c {
	background: transparent !important;
}

/* right sidebar */
html.darkMode ._4_j5 {
	background: transparent;
	border-left: solid 1px rgba(255, 255, 255, 0.05);
}

/* right sidebar: headings */
html.darkMode ._3tl0 {
	color: rgba(255, 255, 255, 0.4);
}

/* right sidebar: section spacer */
html.darkMode ._502q {
	border-top: solid 1px rgba(255, 255, 255, 0.05);
}

/* right sidebar: group chat names */
html.darkMode ._2jnv {
	color: rgba(255, 255, 255, 0.7);
}

/* right sidebar: messenger type info under name */
html.darkMode ._3eus {
	color: rgba(255, 255, 255, 0.4);
}

/* right sidebar: mute notification setting */
html.darkMode ._3x6v {
	color: rgba(255, 255, 255, 0.4);
}

/* right sidebar: people list */
html.darkMode ._4_j5 ._5l37 {
	color: rgba(255, 255, 255, 0.4);
	background: transparent !important;
}

/* right sidebar: people list item */
html.darkMode ._4_j5 ._5l38 {
	border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

/* right sidebar: people list item (name) */
html.darkMode ._364g,
html.darkMode ._3x6u,
html.darkMode ._4rph ._4rpj {
	color: rgba(255, 255, 255, 0.7);
}

/* new conversation contact list: text color */
html.darkMode ._5t4c ._364g {
	color: #192633;
}
