html.dark-mode body {
	color: rgba(255, 255, 255, 0.7);
	background: #192633 !important;
}

/* Main container? */
html.dark-mode ._4sp8 {
	background: #192633 !important;
}

/* Main content */
html.dark-mode ._1q5- {
	background: #192633 !important;
	border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
}

/* Message list: your message bubble */
html.dark-mode ._o46:not(._nd_) ._hh7 {
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.7);
}

/* Fix dark mode overriding colors for code snippets */
html.dark-mode ._wu0 {
	color: black;
}

/* message list: link in your message bubble */
html.dark-mode ._o46:not(._nd_) ._hh7 a {
	color: rgba(255, 255, 255, 0.7);
}

/* Message list: link in message bubble */
html.dark-mode ._hh7 a:hover {
	background: transparent !important;
}

/* Message list: link in incoming message bubble */
html.dark-mode ._o46._nd_ ._hh7 {
	color: rgba(255, 255, 255, 0.9);
}

/* Message list: link preview */
html.dark-mode ._5i_d {
	border: solid 1px rgba(255, 255, 255, 0.05);
}

/* Message list: link preview text */
html.dark-mode ._5i_d .__6k,
html.dark-mode ._5i_d .__6l {
	color: rgba(255, 255, 255, 0.7);
}

html.dark-mode ._5i_d .__6m {
	color: rgba(255, 255, 255, 0.4);
}

/* Message list: input bar */
html.dark-mode ._4rv3 {
	background: transparent !important;
	border-top: solid 1px rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.7);
}

/* Message list: timestamp */
html.dark-mode ._497p {
	color: rgba(255, 255, 255, 0.4);
}

/* Message list: header above */
html.dark-mode ._5742 {
	background: #202C3A !important;
	border-bottom: none;
}
/* Message list: header above (invitation) */
html.dark-mode ._2y8z,
html.dark-mode ._14-7 ._58ah ._58al::-webkit-input-placeholder,
html.dark-mode ._58-3 {
	color: rgba(255, 255, 255, 0.4);
}

/* Message list: header above (invitation) (typed text) */
html.dark-mode ._14-7 ._58ah ._58al {
	color: rgba(255, 255, 255, 0.7);
}

/* Messages list: user info (is in contacts) */
html.dark-mode ._36zg-e {
	color: rgba(255, 255, 255, 0.7) !important;
}

/* messages list: user info */
html.dark-mode ._1n-e {
	color: rgba(255, 255, 255, 0.4);
}

/* Messages list: text header above the messages */
html.dark-mode ._17w2,
html.dark-mode ._ih3 ._3oh-,
html.dark-mode ._llq ._3oh- {
	color: rgba(255, 255, 255, 0.7);
}

html.dark-mode ._2v6o {
	color: rgba(255, 255, 255, 0.4);
}

/* Contact list: header above */
html.dark-mode ._36ic {
	background: #202C3A !important;
	border-bottom: none;
}

/* Contact list: search input */
html.dark-mode ._5iwm ._58al {
	background: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.9);
}

html.dark-mode ._5iwm ._58al::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

/* Contact list: background */
html.dark-mode ._1enh {
	background: transparent !important;
}

/* Contact list: person */
html.dark-mode ._1ht1 {
	background: transparent !important;
}

/* Contact list: person (selected) */
html.dark-mode ._1ht1._1ht2 {
	background: rgba(255, 255, 255, 0.03) !important;
}

/* Contact list: person container */
html.dark-mode ._1qt4 {
	border-top: solid 1px rgba(255, 255, 255, 0.05);
}

/* contact list: person name */
html.dark-mode ._1ht6 {
	color: rgba(255, 255, 255, 0.7);
}

/* Contact list: message blurb */
html.dark-mode ._1htf {
	color: rgba(255, 255, 255, 0.4);
}

/* Contact list: timestamp */
html.dark-mode ._1ht7 {
	color: rgba(255, 255, 255, 0.2);
}

/* Contact list: timestamp (unread) */
html.dark-mode ._1ht3 ._1ht7 {
	color: rgba(0, 132, 255, 0.7)
}

/* contact list: search results */
html.dark-mode ._5t4c,
html.dark-mode ._5t4c ._5l37 {
	color: rgba(255, 255, 255, 0.7) !important;
}

/* Contact list: search results name */
html.dark-mode ._3q34,
html.dark-mode ._364g {
	color: rgba(255, 255, 255, 0.7);
}

/* Contact list: search results subname */
html.dark-mode ._3q35 {
	color: rgba(255, 255, 255, 0.4);
}

/* Contact list: search result label type */
html.dark-mode ._3xcx,
html.dark-mode ._225b {
	color: rgba(255, 255, 255, 0.4);
}

/* Contact list: searching text */
html.dark-mode ._4g0h {
	color: rgba(255, 255, 255, 0.4);
}

/* Right sidebar */
html.dark-mode ._4_j5 {
	background: transparent;
	border-left: solid 1px rgba(255, 255, 255, 0.05);
}

/* Right sidebar: headings */
html.dark-mode ._1lj0 {
	color: rgba(255, 255, 255, 0.4);
}

/* Right sidebar: section spacer */
html.dark-mode ._1li- {
	border-top: solid 1px rgba(255, 255, 255, 0.05);
}

/* Right sidebar: group chat names */
html.dark-mode ._2jnv {
	color: rgba(255, 255, 255, 0.7);
}

/* Right sidebar: messenger type info under name */
html.dark-mode ._3eus {
	color: rgba(255, 255, 255, 0.4);
}

/* Right sidebar: mute notification label */
html.dark-mode ._3szq {
	color: rgba(255, 255, 255, 0.7);
}

/* Right sidebar: mute notification time */
html.dark-mode ._3x6v {
	color: rgba(255, 255, 255, 0.4);
}

/* Right sidebar: people list */
html.dark-mode ._4_j5 ._5l37 {
	color: rgba(255, 255, 255, 0.4);
	background: transparent;
}

/* Right sidebar: people list (add people) */
html.dark-mode ._4rph ._4rpj {
	border-top: solid 1px rgba(255, 255, 255, 0.1);
}

/* Right sidebar: people list item (name) */
html.dark-mode ._364g,
html.dark-mode ._3x6u,
html.dark-mode ._4rph ._4rpj {
	color: rgba(255, 255, 255, 0.7);
}

/* New conversation contact list: popup */
html.dark-mode ._2y8_ {
	background: transparent;
	border: solid 1px rgba(255, 255, 255, 0.05);
}

/* New conversation contact list: popup hr */
html.dark-mode ._5l38 {
	border-top: 1px solid rgba(255, 255, 255, 0.10);
}

/* New conversation contact list: popup hover */
html.dark-mode ._1k1p ._5l38 {
	border-top: none;
}
html.dark-mode ._5l37:active,
html.dark-mode ._1k1p {
	background-color: rgba(255, 255, 255, 0.05) !important;
}

/* Conversation search */
html.dark-mode ._33p7 {
	background-color: rgb(25, 38, 51);
}
html.dark-mode ._33p7 ._b-u,
html.dark-mode ._33p7 ._b-v {
	background-color: transparent !important;
	background-image: url(/rsrc.php/v3/yb/r/TF9SFeEl2Ka.png) !important;
	background-repeat: no-repeat !important;
	background-size: auto !important;
}
html.dark-mode ._33p7 ._b-u {
	background-position: 0px -66px !important;
}
html.dark-mode ._33p7 ._b-v {
	background-position: 0 0 !important;
}
html.dark-mode ._33p7 input {
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.05);
}
html.dark-mode ._33p7 ._5iwn ._58ak::before {
	-webkit-filter: invert();
	filter: invert();
}

/* Dialogs */
html.dark-mode ._53ij,
html.dark-mode ._4eby,
html.dark-mode ._2c9g {
	background: #192633 !important;
}

/* Dialog: title and names */
html.dark-mode ._374c,
html.dark-mode ._4ebz,
html.dark-mode ._2c9i ._19jt,
html.dark-mode .uiInputLabelLabel {
	color: rgba(255, 255, 255, 0.7) !important;
}

/* Gif and sticker dialog: hide white triangle */
html.dark-mode ._53io {
	visibility: hidden;
}

/* Gif and sticker dialog: style the bottom of the list */
html.dark-mode .uiScrollableArea.contentAfter:after {
	background: linear-gradient(rgba(25, 38, 51, .05), #192633);
}

/* Sticker dialog: selected header */
html.dark-mode ._5r8a._5r8b,
html.dark-mode ._eb3:before {
	background-color: rgba(255, 255, 255, 0.05);
}

/* Sticker dialog: header borders */
html.dark-mode ._5r8e,
html.dark-mode ._5r86 {
	border-color: rgba(255, 255, 255, 0.05);
}

/* Record dialog: time */
html.dark-mode ._3z53 {
	color: rgba(255, 255, 255, 0.7);
}

/* Login tile and names */
html.dark-mode ._5hy4,
html.dark-mode ._3403 {
	color: rgba(255, 255, 255, 0.7) !important;
}

/* Login inputs */
html.dark-mode ._55r1._5f0v._43di {
	background: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.75);
}

/* Login button */
html.dark-mode button {
	background: #192633 !important;
}
