/* Hide disabled scrollbar on the right side */
body::-webkit-scrollbar {
	width: 0;
}

/* A utility class for temporarily hiding all dropdown menus */
html.hide-dropdowns [role='menu'].l9j0dhe7.swg4t2nn {
	visibility: hidden !important;
}

/* A utility class for temporarily hiding preferences window */
html.hide-preferences-window div[class='rq0escxv l9j0dhe7 du4w35lb'] > div:nth-of-type(3) > div > div {
	display: none;
}

/* A utility class for temporarily hiding right sidebar */
html.hide-r-sidebar .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.g5gj957u.rj1gh0hx.buofh1pr.hpfvmrgz.i1fnvgqd.gs1a9yip.owycx6da.btwxx1t3.jb3vyjys.nwf6jgls > div:nth-child(2) {
	display: none;
}

/* -- Private mode -- */
/* Chat list: profile picture */
html.private-mode [role='navigation'] [role='row'] svg[role='img'] {
	filter: blur(5px);
}
/* Chat list: name and last message (last message sometimes includes senders name) */
html.private-mode [role='navigation'] [role='row'] .d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.oi732d6d.ik7dh3pa.ht8s03o8.a8c37x1j.keod5gw0.nxhoafnm.aigsh9s9.d9wwppkn.fe6kdd0r.mau55g9w.c8b282yb.iv3no6db.jq4qci2q.a3bd9o3v.ekzkrbhg.oo9gr5id.hzawbc8m {
	filter: blur(5px);
}
/* Chat list: name and profile picture for unread message */
html.private-mode [role='navigation'] [role='row'] .qzhwtbm6.knvmm38d {
	filter: blur(5px);
}
/* Chat list: active contacts */
html.private-mode [role='navigation'] .pedkr2u6 li svg[role='img'] {
	filter: blur(5px);
}
html.private-mode [role='navigation'] .pedkr2u6 li .d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.b0tq1wua.a8c37x1j.keod5gw0.nxhoafnm.aigsh9s9.d9wwppkn.fe6kdd0r.mau55g9w.c8b282yb.hrzyx87i.jq4qci2q.a3bd9o3v.ekzkrbhg.oo9gr5id.hzawbc8m {
	filter: blur(5px);
}
/* Conversation: profile picture */
html.private-mode [data-pagelet='page'] .a8c37x1j.d2edcug0.sn7ne77z.bixrwtb6 {
	filter: blur(5px);
}
/* Conversation: name */
html.private-mode [data-pagelet='page'] .d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.gk29lw5a.a8c37x1j.keod5gw0.nxhoafnm.aigsh9s9.tia6h79c.fe6kdd0r.mau55g9w.c8b282yb.iv3no6db.a5q79mjw.g1cxx5fr.lrazzd5p.oo9gr5id.oqcyycmt {
	filter: blur(5px);
}
/* Conversation: read indicator */
html.private-mode [role='main'] .kkf49tns.cgat1ltu.hrs1iv20.abiwlrkh.s45kfl79.emlxlaya.bkmhp75w.spb7xbtv {
	filter: blur(5px);
}
/* Conversation: final read indicator (groups) */
html.private-mode [role='main'] .pfnyh3mw.j83agx80.aahdfvyu.cgat1ltu.dicw6rsg.hcukyx3x {
	filter: blur(5px);
}
/* Conversation titlebar and sidebar: name */
html.private-mode [role='main'] .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.d2edcug0.hpfvmrgz.rj1gh0hx.buofh1pr.p8fzw8mz.pcp91wgn.iuny7tx3.ipjc6fyt {
	filter: blur(5px);
}
/* Message list: sender profile picture */
html.private-mode [role='main'] .pfnyh3mw.aovydwv3.j83agx80 > span {
	filter: blur(5px);
}
/* Messsage list: sender replied to name */
html.private-mode [role='main'] .hyh9befq.pipptul6.sq6gx45u {
	filter: blur(5px);
}
/* Message list: sender name */
html.private-mode [role='main'] .r9r71o1u.m9osqain.fsrhnwul.d0szoon8.r8blr3vg.qjjbsfad {
	filter: blur(5px);
}
/* Message list: person tiny heads */
html.private-mode [role='row'] .j83agx80.btwxx1t3.pfnyh3mw.lhclo0ds.ni8dbmo4.stjgntxs.l9j0dhe7 {
	filter: blur(5px);
}
/* Right sidebar: profile picture */
html.private-mode [role='main'] .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.pfnyh3mw.d2edcug0.bp9cbjyn.discj3wi.ihqw7lf3 {
	filter: blur(5px);
}
/* Right sidebar: name */
html.private-mode [role='main'] .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.pfnyh3mw.d2edcug0.bp9cbjyn.hv4rvrfc.dati1w0a.jb3vyjys.ihqw7lf3 {
	filter: blur(5px);
}
/* Right sidebar: active status */
html.private-mode [role='main'] .d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.b0tq1wua.a8c37x1j.keod5gw0.nxhoafnm.aigsh9s9.tia6h79c.fe6kdd0r.mau55g9w.c8b282yb.iv3no6db.e9vueds3.j5wam9gi.knj5qynh.m9osqain.oqcyycmt {
	filter: blur(5px);
}

/* Force max-width on videos */
.ni8dbmo4.stjgntxs.g5ia77u1.ii04i59q.j83agx80.cbu4d94t.ll8tlv6m > span,
.l9j0dhe7.km676qkl.cxmmr5t8.myj7ivm5.hcukyx3x,
.opwvks06.hop1g133.linmgsc8.t63ysoy8.qutah8gn.ni8dbmo4.stjgntxs.ktxn16wu.jz9ahs1c.efwgsih4.e72ty7fz.qmr60zad.qlfml3jp.inkptoze {
	max-width: 100%;
}

/* Hide the "Messenger App for Mac/Windows" banner in chat list */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.g5gj957u.rj1gh0hx.buofh1pr.hpfvmrgz.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.gl4o1x5y.lt9micmv.qt6c0cv9.jb3vyjys.usczdcwk.iihba337.p8dawk7l,
.os-win32 .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.g5gj957u.rj1gh0hx.buofh1pr.hpfvmrgz.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.s9xz0pwp.c4m0enpj.rl78xhln.srn514ro.sn0e7ne5.f6rbj1fe.l3ldwz01 {
	display: none;
}
/* Hide the "Messenger for Mac/Windows" menu item and separator in Messenger settings */
.tojvnm2t.a6sixzi8.k5wvi7nf.q3lfd5jv.pk4s997a.bipmatt0.cebpdrjk.qowsmv63.owwhemhu.dp1hu0rb.dhp61c6y.l9j0dhe7.iyyx5f41.a8s20v7p > hr:nth-of-type(4),
.tojvnm2t.a6sixzi8.k5wvi7nf.q3lfd5jv.pk4s997a.bipmatt0.cebpdrjk.qowsmv63.owwhemhu.dp1hu0rb.dhp61c6y.l9j0dhe7.iyyx5f41.a8s20v7p > a:nth-of-type(6) {
	display: none;
}

/* Dragable region for macOS */
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.jei6r52m.wkznzc2l.n851cfcs.dhix69tm.ahb00how,
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.hv4rvrfc.dati1w0a.f10w8fjw.pybr56ya.b5q2rw42.lq239pai.mysgfdmx.hddg9phg {
	-webkit-app-region: drag !important;
}
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.jei6r52m.wkznzc2l.n851cfcs.dhix69tm.ahb00how {
	margin: 0 !important;
	padding: 12px 16px 0 !important;
}
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.d2edcug0.hpfvmrgz.kud993qy.buofh1pr {
	margin-top: 24px !important;
}

@media (max-width: 900px) {
	.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.jbae33se.hv4rvrfc.dati1w0a.pybr56ya {
		display: none !important;
	}
	.os-darwin .rpm2j7zs.k7i0oixp.gvuykj2m.j83agx80.cbu4d94t.ni8dbmo4.du4w35lb.q5bimw55.ofs802cu.pohlnb88.dkue75c7.mb9wzai9.d8ncny3e.buofh1pr.g5gj957u.tgvbjcpo.l56l04vs.r57mb794.kh7kg01d.eg9m0zos.c3g1iek1.l9j0dhe7.k4xni2cv {
		padding-top: 36px !important;
	}
}

/* -- Sidebar views -- */

/* Hidden: Hide sidebar */
html.sidebar-hidden .o36gj0jk.g0mhvs5p {
	visibility: hidden;
	min-width: 0;
	max-width: 0;
	width: 0;
	height: 0;
}

/* Narrow: Hide conversation previews */
html.sidebar-force-narrow .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3 > div:nth-child(2),
html.sidebar-force-narrow .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3 > div:nth-child(3) {
	visibility: hidden;
}
/* Narrow: Width of search bar */
html.sidebar-force-narrow .oajrlxb2.rq0escxv.f1sip0of.hidtqoto.e70eycc3.lzcic4wl.hzawbc8m.ijkhr0an.aaoq3grb.sgqwj88q.b3i9ofy5.oo9gr5id.b1f16np4.hdh3q7d8.dwo3fsh8.qu0x051f.esr5mh6w.e9989ue4.r7d6kgcz.br7hx15l.h2jyy9rg.n3ddgdk9.owxd89k7.ihxqhq3m.jq4qci2q.k4urcfbm.iu8raji3.tv7at329.l60d2q6s.d1544ag0.hwnh5xvq.fjf4s8hc.aj8hi1zk.r4fl40cc.kd8v7px7.m07ooulj.mzan44vs {
	width: 68px;
}
/* Narrow: Conversation list header */
html.sidebar-force-narrow .ahb00how {
	display: none;
}
/* Narrow: Width of conversation list */
html.sidebar-force-narrow .g0mhvs5p {
	width: 88px;
}
/* Narrow: Remove scrollbar from conversation list */
html.sidebar-force-narrow .oj68ptkr.jk6sbkaj.kdgqqoy6.ihh4hy1g.qttc61fc.datstx6m.k4urcfbm {
	visibility: hidden;
}
