/* Hide disabled scrollbar on the right side */
body::-webkit-scrollbar {
	display: none;
}

/* A utility class for temporarily hiding all dropdown menus */
html.hide-dropdowns [role='menu'].l9j0dhe7.swg4t2nn {
	visibility: hidden !important;
}

/* A utility class for temporarily hiding preferences window */
html.hide-preferences-window div[class='rq0escxv l9j0dhe7 du4w35lb'] > div:nth-of-type(3) > div > div {
	display: none;
}

/* A utility class for temporarily hiding right sidebar */
html.hide-r-sidebar .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.g5gj957u.rj1gh0hx.buofh1pr.hpfvmrgz.i1fnvgqd.gs1a9yip.owycx6da.btwxx1t3.jb3vyjys.nwf6jgls > div:nth-child(2) {
	display: none;
}

/* -- Private mode -- */
/* Preferences button: profile picture */
html.private-mode [role='navigation'] .oajrlxb2.gs1a9yip.g5ia77u1.mtkw9kbi.tlpljxtp.qensuy8j.ppp5ayq2.goun2846.ccm00jje.s44p3ltw.mk2mc5f4.rt8b4zig.n8ej3o3l.agehan2d.sk4xxmp2.rq0escxv.nhd2j8a9.mg4g778l.pfnyh3mw.p7hjln8o.kvgmc6g5.cxmmr5t8.oygrvhab.hcukyx3x.tgvbjcpo.hpfvmrgz.jb3vyjys.rz4wbd8a.qt6c0cv9.a8nywdso.l9j0dhe7.i1ao9s8h.esuyzwwr.f1sip0of.du4w35lb.n00je7tq.arfg74bv.qs9ysxi8.k77z8yql.pq6dq46d.btwxx1t3.abiwlrkh.p8dawk7l.lzcic4wl {
	filter: blur(5px);
}
/* Preferences: profile picture */
html.private-mode .j83agx80.dflh9lhu.cxgpxx05.sj5x9vvc .q9uorilb.l9j0dhe7.pzggbiyp.du4w35lb {
	filter: blur(5px);
}
/* Preferences: account name */
html.private-mode [href^='https://www.facebook.com/1'] .a8c37x1j.hihg3u9x.ggxiycxj.l9j0dhe7.d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.fe6kdd0r.mau55g9w.c8b282yb.keod5gw0.nxhoafnm.aigsh9s9.b0tq1wua.jq4qci2q.ekzkrbhg.oo9gr5id.hzawbc8m.d9wwppkn.hrzyx87i.dkezsu63 {
	filter: blur(5px);
}
/* Chat list: name, profile picture and last message */
html.private-mode [role='navigation'] [role='row'] .a8c37x1j.d2edcug0 {
	filter: blur(5px);
}
/* Chat list: active contacts */
html.private-mode [role='navigation'] .ow4ym5g4.auili1gw.rq0escxv.j83agx80.buofh1pr.g5gj957u.i1fnvgqd.oygrvhab.cxmmr5t8.hcukyx3x.kvgmc6g5.hpfvmrgz.qt6c0cv9.jb3vyjys.l9j0dhe7.du4w35lb.bp9cbjyn.btwxx1t3.dflh9lhu.scb9dxdr.nnctdnn4 {
	filter: blur(5px);
}
/* Chat list: person tiny heads */
html.private-mode [role='row'] .j83agx80.btwxx1t3.pfnyh3mw.lhclo0ds.ni8dbmo4.stjgntxs.l9j0dhe7 {
	filter: blur(5px);
}
/* Conversation: titlebar profile picture */
html.private-mode .a8c37x1j.d2edcug0.sn7ne77z.bixrwtb6 {
	filter: blur(5px);
}
/* Conversation: sender profile picture */
html.private-mode [role='main'] .pfnyh3mw.aovydwv3.j83agx80 > span {
	filter: blur(5px);
}
/* Conversation: name & last seen */
html.private-mode [role='main'] .gmql0nx0.l94mrbxd.p1ri9a11.lzcic4wl.d2edcug0.hpfvmrgz {
	filter: blur(5px);
}
/* Conversation: read indicator */
html.private-mode [role='main'] .kkf49tns.cgat1ltu.hrs1iv20.abiwlrkh.s45kfl79.emlxlaya.bkmhp75w.spb7xbtv {
	filter: blur(5px);
}
/* Conversation: final read indicator (groups) */
html.private-mode [role='main'] .pfnyh3mw.j83agx80.aahdfvyu.cgat1ltu.dicw6rsg.hcukyx3x {
	filter: blur(5px);
}
/* Conversation: name at the beginning */
html.private-mode .a8c37x1j.hihg3u9x.ggxiycxj.l9j0dhe7.d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.fe6kdd0r.mau55g9w.c8b282yb.keod5gw0.nxhoafnm.aigsh9s9.b0tq1wua.a5q79mjw.lrazzd5p.oo9gr5id.oqcyycmt.tia6h79c.iv3no6db.dkezsu63 {
	filter: blur(5px);
}
/* Right sidebar: profile picture */
html.private-mode .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.pfnyh3mw.d2edcug0.bp9cbjyn.f10w8fjw.discj3wi {
	filter: blur(5px);
}
/* Right sidebar: name */
html.private-mode [role='main'] .oajrlxb2.g5ia77u1.qu0x051f.esr5mh6w.e9989ue4.r7d6kgcz.rq0escxv.nhd2j8a9.nc684nl6.p7hjln8o.kvgmc6g5.cxmmr5t8.oygrvhab.hcukyx3x.jb3vyjys.rz4wbd8a.qt6c0cv9.a8nywdso.i1ao9s8h.esuyzwwr.f1sip0of.lzcic4wl.gmql0nx0.gpro0wi8 {
	filter: blur(5px);
}
/* Right sidebar: active status */
html.private-mode [role='main'] .a8c37x1j.hihg3u9x.ggxiycxj.l9j0dhe7.d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.fe6kdd0r.mau55g9w.c8b282yb.keod5gw0.nxhoafnm.aigsh9s9.b0tq1wua.e9vueds3.knj5qynh.m9osqain.oqcyycmt.tia6h79c.iv3no6db.dkezsu63 {
	filter: blur(5px);
}
/* Calls: incoming call dialog (profile picture & name) */
html.private-mode .j83agx80.btwxx1t3.o7xrwllt.quq7zyon.ni8dbmo4.jktsbyx5.osnr6wyh.l9j0dhe7 {
	filter: blur(5px);
}
html.private-mode .a8c37x1j.hihg3u9x.ggxiycxj.l9j0dhe7.d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.fe6kdd0r.mau55g9w.c8b282yb.keod5gw0.nxhoafnm.aigsh9s9.b0tq1wua.o0t2es00.hnhda86s.oo9gr5id.oqcyycmt.d3f4x2em.rwim8176.dkezsu63 {
	filter: blur(5px);
}

/* Force max-width on videos */
.ni8dbmo4.stjgntxs.g5ia77u1.ii04i59q.j83agx80.cbu4d94t.ll8tlv6m > span,
.l9j0dhe7.km676qkl.cxmmr5t8.myj7ivm5.hcukyx3x,
.opwvks06.hop1g133.linmgsc8.t63ysoy8.qutah8gn.ni8dbmo4.stjgntxs.ktxn16wu.jz9ahs1c.efwgsih4.e72ty7fz.qmr60zad.qlfml3jp.inkptoze {
	max-width: 100%;
}

/* Hide the "Messenger App for Mac/Windows" banner in chat list */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.rj1gh0hx.g5gj957u.hpfvmrgz.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.usczdcwk.iihba337.p8dawk7l.jb3vyjys.gl4o1x5y.qt6c0cv9.lt9micmv.kb5gq1qc.g0mhvs5p,
.os-win32 .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.g5gj957u.rj1gh0hx.buofh1pr.hpfvmrgz.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.s9xz0pwp.c4m0enpj.rl78xhln.srn514ro.sn0e7ne5.f6rbj1fe.l3ldwz01 {
	display: none;
}
/* Hide the "Messenger for Mac/Windows" menu item and separator in Messenger settings */
.tojvnm2t.a6sixzi8.k5wvi7nf.q3lfd5jv.pk4s997a.bipmatt0.cebpdrjk.qowsmv63.owwhemhu.dp1hu0rb.dhp61c6y.l9j0dhe7.iyyx5f41.a8s20v7p > hr:nth-of-type(4),
.tojvnm2t.a6sixzi8.k5wvi7nf.q3lfd5jv.pk4s997a.bipmatt0.cebpdrjk.qowsmv63.owwhemhu.dp1hu0rb.dhp61c6y.l9j0dhe7.iyyx5f41.a8s20v7p > a:nth-of-type(6) {
	display: none;
}

/* Dragable region for macOS */
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.jei6r52m.wkznzc2l.n851cfcs.dhix69tm.ahb00how,
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.hv4rvrfc.dati1w0a.f10w8fjw.pybr56ya.b5q2rw42.lq239pai.mysgfdmx.hddg9phg {
	-webkit-app-region: drag !important;
}
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3.jei6r52m.wkznzc2l.n851cfcs.dhix69tm.ahb00how {
	margin: 0 !important;
	padding: 12px 16px 0 !important;
}
.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.d2edcug0.hpfvmrgz.kud993qy.buofh1pr {
	margin-top: 24px !important;
}

@media (max-width: 900px) {
	.os-darwin .rq0escxv.l9j0dhe7.du4w35lb.jbae33se.hv4rvrfc.dati1w0a.pybr56ya {
		display: none !important;
	}
	.os-darwin .rpm2j7zs.k7i0oixp.gvuykj2m.j83agx80.cbu4d94t.ni8dbmo4.du4w35lb.q5bimw55.ofs802cu.pohlnb88.dkue75c7.mb9wzai9.d8ncny3e.buofh1pr.g5gj957u.tgvbjcpo.l56l04vs.r57mb794.kh7kg01d.eg9m0zos.c3g1iek1.l9j0dhe7.k4xni2cv {
		padding-top: 36px !important;
	}
}

/* -- Sidebar views -- */

/* Hidden: Hide sidebar */
html.sidebar-hidden .o36gj0jk.tkr6xdv7 {
	visibility: hidden;
	min-width: 0;
	max-width: 0;
	width: 0;
	height: 0;
}

/* Narrow: Hide conversation previews */
html.sidebar-force-narrow .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3 > div:nth-child(2),
html.sidebar-force-narrow .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.i1fnvgqd.bp9cbjyn.owycx6da.btwxx1t3 > div:nth-child(3) {
	visibility: hidden;
}
/* Narrow: Hide search bar */
html.sidebar-force-narrow .rq0escxv.j83agx80.cbu4d94t.k4urcfbm {
	display: none;
}
/* Narrow: Conversation list header */
html.sidebar-force-narrow .ahb00how {
	display: none;
}
/* Narrow: Width of conversation list */
html.sidebar-force-narrow .rq0escxv.l9j0dhe7.j83agx80.cbu4d94t.d2edcug0.hpfvmrgz.pfnyh3mw.dp1hu0rb.rek2kq2y.o36gj0jk.tkr6xdv7.ezfq3ill {
	width: 88px;
}
/* Narrow: Remove scrollbar from conversation list */
html.sidebar-force-narrow .oj68ptkr.jk6sbkaj.kdgqqoy6.ihh4hy1g.qttc61fc.datstx6m.k4urcfbm {
	visibility: hidden;
}

/* -- Toggle message buttons -- */
body .oajrlxb2.gs1a9yip.g5ia77u1.mtkw9kbi.tlpljxtp.qensuy8j.ppp5ayq2.goun2846.ccm00jje.s44p3ltw.mk2mc5f4.rt8b4zig.n8ej3o3l.agehan2d.sk4xxmp2.rq0escxv.nhd2j8a9.mg4g778l.pfnyh3mw.p7hjln8o.kvgmc6g5.cxmmr5t8.oygrvhab.tgvbjcpo.hpfvmrgz.l9j0dhe7.i1ao9s8h.esuyzwwr.f1sip0of.du4w35lb.n00je7tq.arfg74bv.qs9ysxi8.k77z8yql.pq6dq46d.btwxx1t3.abiwlrkh.p8dawk7l.lzcic4wl.cxgpxx05.dflh9lhu.sj5x9vvc.scb9dxdr.h676nmdw,
body .tojvnm2t.a6sixzi8.abs2jz4q.t1p8iaqh.k5wvi7nf.q3lfd5jv.pk4s997a.bipmatt0.cebpdrjk.qowsmv63.owwhemhu.dp1hu0rb.dhp61c6y.iyyx5f41.pq6dq46d {
	display: flex;
}

body.show-message-buttons .oajrlxb2.gs1a9yip.g5ia77u1.mtkw9kbi.tlpljxtp.qensuy8j.ppp5ayq2.goun2846.ccm00jje.s44p3ltw.mk2mc5f4.rt8b4zig.n8ej3o3l.agehan2d.sk4xxmp2.rq0escxv.nhd2j8a9.mg4g778l.pfnyh3mw.p7hjln8o.kvgmc6g5.cxmmr5t8.oygrvhab.tgvbjcpo.hpfvmrgz.l9j0dhe7.i1ao9s8h.esuyzwwr.f1sip0of.du4w35lb.n00je7tq.arfg74bv.qs9ysxi8.k77z8yql.pq6dq46d.btwxx1t3.abiwlrkh.p8dawk7l.lzcic4wl.cxgpxx05.dflh9lhu.sj5x9vvc.scb9dxdr.h676nmdw,
body.show-message-buttons .tojvnm2t.a6sixzi8.abs2jz4q.t1p8iaqh.k5wvi7nf.q3lfd5jv.pk4s997a.bipmatt0.cebpdrjk.qowsmv63.owwhemhu.dp1hu0rb.dhp61c6y.iyyx5f41.pq6dq46d {
	display: none;
}

body.show-message-buttons .buofh1pr.j83agx80.lfvz1hxj {
	margin-left: 15px !important;
}
