/* Top bar: App menu button color */
/* Top bar: New message button color */
.j83agx80.pfnyh3mw .ozuftl9m .a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4 {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Icons made with SVG (create a room, preferences options, etc.) */
.b6ax4al1.m4pnbp5e.somyomsx.ahndzqod.g4fisb7v > path {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Chat list: Mute icon */
.bp9cbjyn.j83agx80.btwxx1t3 .dlv3wnog.lupvgy83 .a8c37x1j {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Right sidebar: Icon color */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.f4tghd1a.ifue306u.kuivcneq.t63ysoy8 [role='button'] svg {
	fill: currentcolor;
	color: var(--primary-text);
}
/* Right sidebar: Path of icon */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.f4tghd1a.ifue306u.kuivcneq.t63ysoy8 [role='button'] svg path {
	fill: currentcolor;
	color: var(--primary-text);
}
/* Right sidebar: search icon */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.f4tghd1a.ifue306u.kuivcneq.t63ysoy8 [role='button'] svg[role='presentation'] path {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Contact list: delivered icon color */
.aahdfvyu [role='grid'] .a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4 {
	fill: currentcolor;
	color: var(--primary-text);
}

/* Removing top gap */
/* TODO: Remove when fixed by fb */
.__fb-dark-mode {
	--header-height: 0px !important;
}

/* Message list: fix for received messages text color in dark mode */
/* TODO: Remove when fixed by fb */
.__fb-dark-mode .__fb-light-mode {
	--primary-text: #e4e6eb;
}

/* Radio buttons */
.bdao358l.om3e55n1.g4tp4svg {
	--accent: var(--primary-text);
}

/* Backgrounds of various buttons ("Visit Group", audio call, etc.) */
/* TODO: Remove when fixed by fb, since -floating should not be here */
/* Audio / video call */
.qmqpeqxj.e7u6y3za.qwcclf47.nmlomj2f.i85zmo3j.frfouenu.bonavkto.djs4p424.r7bn319e.bdao358l.fxk3tzhb.jcxyg2ei.om3e55n1.a5wdgl2o.jvc6uz2b.g90fjkqk,
.om3e55n1.g4tp4svg.alzwoclg.jez8cy9q.jcxyg2ei.i85zmo3j.sr926ui1.jl2a5g8c.k7n6ui8p.b41d885q.hmqrhxox.got7tec9.frfouenu.bonavkto.djs4p424.r7bn319e.bdao358l.aesu6q9g.e4ay1f3w.a5wdgl2o.ed17d2qt {
	background-color: var(--secondary-button-background-floating) !important;
}

/* Search results: Close button */
/* TODO: Remove when fixed by fb, since --always-white is not good here */
.q2y6ezfg {
	background-color: var(--secondary-button-background) !important;
}
